{% extends 'base.html' %}
{% load static %}

{% block title %}
    Your Cart
{% endblock %}

{% block content %}
        <table>
            <h1>Your Cart </h1>
        <tr>
            <th>Image</th>
            <th>Course</th>
            <th>Remove</th>
            <th>Price</th>
        </tr>
            {% for item in cart %}
            {% with course=item.course %}
        <tr>
            <td>
                <a href="{{ course.get_absolute_url }}">
                    <img src="{{ course.image.url }}" alt="{{ course.title }}">
                </a>
            </td>

            <td>
                {{ course.title }}
            </td>

            <td>
                <form action="{% url 'cart:cart_remove' course.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Remove">
                </form>
            </td>

            <td>
                <p>GH<span>{{ course.price }}</span></p>
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </table>

    <div class="total-price-container">
        <div class="total-label">
            Total
        </div>

        <div class="price-num">
            <p>GH<span>{{ cart.get_total_price }}</span></p>
        </div>
    </div>

    <div class="checkout-btn">
        {% comment %} <a href="#" class="btn">Continue Browsing Courses</a> {% endcomment %}
        <a href="{% url 'orders:order_create' %}" class="btn ck-out">Checkout Courses</a>
    </div>

    <h2>Recommended Courses</h2>
    {% if recommended_courses %}
        {% for c in recommended_courses %}
            <p>{{c.title}}</p>
        {% endfor %}
    {% endif %}
{% endblock %}