{% extends 'base2.html' %}
{% load static %}
{% block title %} Cart {% endblock %}

{% block content %}

    <!-- CArT -->
    <section class="cart">
      <div class="course-view">
        <div class="top">
          <h2 class="top-firstchild">Course</h2>
          <h2>Price</h2>
          <div class="last">Remove</div>
        </div>

        <div class="course-rows">
           {% for item in cart %}
              {% with course=item.course %}
          <div class="course-row">
            <div class="main">
              <a href="{{ course.get_absolute_url }}" class="course all language">
               <img src="{{ course.image.url }}" alt="" />
                <div class="info">
                  <div class="info-top">
                   <p>Modules: {{ course.modules.count }}</p>
                  <p>Instructor: {{ course.owner.get_full_name }}</p>
                  </div>
                  <p class="info-bottom">{{ course.title }}</p>
                </div>
              </a>
            </div>

            <div class="price-del">
              <div class="price">
                <h3>GHC {{ course.price }}</h3>
              </div>

              <form action="{% url 'cart:cart_remove' course.id %}" method="post">
                        {% csrf_token %}
                            <button class="delete-button" type="submit">Remove</button>
                </form>
            </div>
          </div>
                {% endwith %}
            {% endfor %}

          <!-- <div class="course-row">
            <div class="main">
              <a href="/coursepage.html" class="course all language">
                <img src="/Assets/223023222_571328.jpg" alt="" />
                <div class="info">
                  <div class="info-top">
                    <p>3Hrs 0Mins</p>
                    <p>7 Lessons</p>
                  </div>
                  <p class="info-bottom">Advanced Public Relations2</p>
                </div>
              </a>
            </div>

            <div class="price-del">
              <div class="price">
                <h3>GHC 99.99</h3>
              </div>

              <div class="delete-button">Remove</div>
            </div>
          </div>

          <div class="course-row">
            <div class="main">
              <a href="/coursepage.html" class="course all language">
                <img src="/Assets/223023222_571328.jpg" alt="" />
                <div class="info">
                  <div class="info-top">
                    <p>3Hrs 0Mins</p>
                    <p>7 Lessons</p>
                  </div>
                  <p class="info-bottom">Advanced Public Relations3</p>
                </div>
              </a>
            </div>

            <div class="price-del">
              <div class="price">
                <h3>GHC 99.99</h3>
              </div>

              <div class="delete-button">Remove</div>
            </div>
          </div> -->
        </div>

        <div class="sub-section">
          {% if cart.coupon %}
          <div class="sub-total">
            <h3>Subtotal</h3>

            <h4>{{ cart.get_total_price|floatformat:2 }}</h4>
          </div>

          <div class="discounts">
            <h3>{{ cart.coupon.code }} ({{cart.coupon.discount}}% off)</h3>

            <h4>-{{ cart.get_discount|floatformat:2}}</h4>
          </div>

          <div class="sum-total">
            <h3>Total</h3>

            <h4>GHC {{cart.get_total_price_after_discount|floatformat:2}}</h4>
          </div>
          {% endif %}

          <div class="coupon-nav">
            <div class="coupon">
              <p>Apply a coupon code</p>
              <form action="{% url 'coupon:apply' %}" method='post'>
                {% csrf_token %}
                <input type="text" placeholder="Enter coupon code" name="code" required/>
                <button type="submit">Apply</button>
              </form>
            </div>

            <div class="nav-buttons">
              <a href="{% url 'course_list' %}" class="more">View more courses</a> {{ cart|length }}
              <a href="{% url 'orders:order_create' %}" class="ckout">Checkout</a>
            </div>
          </div>
        </div>
      </div>

      <div class="payment-view">
        <div class="top">
          <h2>Order Summary</h2>
        </div>

        <div class="order-details">
          <div class="order-rows">
            <div class="order-row">
              <div class="order-left">Courses</div>
              <div class="order-right">
                {% with total_items=cart|length %}
                      {% if total_items > 0  %}
                          {{  total_items }}
                      {% else %}
                      0
                      {% endif %}
                  {% endwith %}
              </div>
            </div>

            {% if cart.coupon %}
            <div class="order-row">
              <div class="order-left">Discount</div>
              <div class="order-right">{{ cart.coupon.discount }}%</div>
            </div>

            <div class="order-row">
              <div class="order-left">{{ cart.coupon.code }} ({{ cart.coupon.discount }}% off)</div>
              <div class="order-right">-{{ cart.get_discount|floatformat:2}}</div>
            </div>
            <hr />
            {% endif %}
            <div class="order-row total">
              <div class="order-left">Total (GHC)</div>
              <div class="order-right"> {{cart.get_total_price_after_discount|floatformat:2}}</div>
            </div>
          </div>

          <a href="{% url 'orders:order_create' %}" class="checkout-btn ckout">CHECKOUT</a>
        </div>
      </div>
    </section>

    <section class="recommended-courses discover">
        {% if recommended_courses %}
      <h2>Other students also bought...</h2>

      <div class="field-content">
        {% for course in recommended_courses %}
        <a href="{{ course.get_absolute_url }}" class="r-course all design">
            <img src="{{ course.image.url }}" alt="{{course.title}}" />
            <div class="info">
                <div class="info-top">
                <p>Modules: {{ course.modules.count }}</p>
                <p>Instructor: {{ course.owner.get_full_name}}</p>
                </div>
                Ratings: {{course.average_rating }} <span class="fa fa-star checked"></span> 
                <p class="info-bottom">{{ course.title }}</p>
            </div>
            </a>

        {% endfor %}

        <!-- <a href="/coursepage.html" class="r-course all design">
          <img src="/Assets/223023222_571328.jpg" alt="" />
          <div class="info">
            <div class="info-top">
              <p>14Hrs 27Mins</p>
              <p>16 Lessons</p>
            </div>
            <div class="middle">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
            <p class="info-bottom">Art & Design</p>
          </div>
        </a>

        <a href="/coursepage.html" class="r-course all">
          <img src="/Assets/223023222_571328.jpg" alt="" />
          <div class="info">
            <div class="info-top">
              <p>3Hrs 0Mins</p>
              <p>7 Lessons</p>
            </div>
            <div class="middle">&#9733; &#9733; &#9733;</div>
            <p class="info-bottom">How To Make Money in Crypto</p>
          </div>
        </a>

        <a href="/coursepage.html" class="r-course all">
          <img src="/Assets/223023222_571328.jpg" alt="" />
          <div class="info">
            <div class="info-top">
              <p>3Hrs 0Mins</p>
              <p>7 Lessons</p>
            </div>
            <div class="middle">&#9733; &#9733; &#9733;</div>
            <p class="info-bottom">How To Make Money in Crypto</p>
          </div>
        </a>

        <a href="/coursepage.html" class="r-course all">
          <img src="/Assets/223023222_571328.jpg" alt="" />
          <div class="info">
            <div class="info-top">
              <p>3Hrs 0Mins</p>
              <p>7 Lessons</p>
            </div>
            <div class="middle">&#9733; &#9733; &#9733;</div>
            <p class="info-bottom">How To Make Money in Crypto</p>
          </div>
        </a>

        <a href="/coursepage.html" class="r-course all">
          <img src="/Assets/223023222_571328.jpg" alt="" />
          <div class="info">
            <div class="info-top">
              <p>3Hrs 0Mins</p>
              <p>7 Lessons</p>
            </div>
            <div class="middle">&#9733; &#9733; &#9733;</div>
            <p class="info-bottom">How To Make Money in Crypto</p>
          </div>
        </a> -->
      </div>
      {% else %}

      <!-- nocontent HTML -->
      <!-- nocontent HTML -->
      <!-- nocontent HTML -->

       <div class="empty">
      <img src="{% static 'assets/floating.svg' %}" alt="">
      <h4>Nothing to see..👀</h4>
    </div>
    {% endif %}
    </section>

{% endblock %}

{% block include_js %}
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      let cartItemCount = "{{ cart|length }}";
      cartItemCount = Number(cartItemCount);

      if (cartItemCount <= 0) {
        document.querySelectorAll(".ckout").forEach((el) => el.href = "#")
      }
    </script>
{% endblock %}