{% extends "quiz_base.html" %}
{% block title %}
    {{ quiz.title }}
{% endblock %}


{% block content %}
    
<section class="manage__answers">
    {% for q in questions %}
      <div class="answer__item">
        <div class="questions-container flex padding__bottom">
          <span class="question">Question: </span>
          <p>{{ q.question_text }}</p>
        </div>

        {% with ans=q.answers.all %}
            {% for answer in ans %}
                <div class="ans-sub-container padding__bottom">
                <div class="ans-item flex">
                    <span class="question">Answer: </span>
                    <p>{{answer}}</p>
                </div>
                <div class="ans-item flex">
                    <span class="question">Is Correct Answer: </span>
                    <p>{% if answer.is_correct %} Yes {% else %} No {% endif %}</p>
                </div>
                <div class="ans-actions">
                    <a href="{% url 'answer_content_update' q.quiz.id answer.id q.id %}" class="edit actions__btn">Edit</a>
                  <form method="post" action={% url 'quiz_answer_delete' q.quiz.id answer.id%}>
                      <input class="delete actions__btn remove-border" type="submit" value="Delete" />
                    {% csrf_token %}
                  </form>
                    {% comment %} <a href="{% url 'quiz_answer_delete' q.quiz.id answer.id %}" class="delete actions__btn">Delete</a> {% endcomment %}
                </div>
                </div>

                <div class="score flex">
                <span class="question">Score:</span>
                <p>{{ q.score }}</p>
                </div>
            {% endfor %}
        {% endwith %}

        <div class="new__ans">
          <a href="{% url 'answer_content_create' q.quiz.id q.id %}" class="add__ans">Add New Answer</a>
        </div>
      </div>

      {% comment %} <div class="answer__item">
        <div class="questions-container flex padding__bottom">
          <span class="question">Question: </span>
          <p>Who is the richest man on Mars?</p>
        </div>

        <div class="ans-sub-container padding__bottom">
          <div class="ans-item flex">
            <span class="question">Answer: </span>
            <p>Asante Prince Affum</p>
          </div>
          <div class="ans-actions">
            <a href="#" class="edit actions__btn">Edit</a>
            <a href="#" class="delete actions__btn">Delete</a>
          </div>
        </div>

        <div class="score flex">
          <span class="question">Score:</span>
          <p>10</p>
        </div>

        <div class="new__ans">
          <a href="#" class="add__ans">Add New Answer</a>
        </div>
      </div> {% endcomment %}
      {% endfor %}
    </section>

    {% comment %} <div>
         <a href="{% url 'answer_content_create' q.quiz.id q.id %}" style="background-color: green; border:none; padding: 10px 15px; color: white;">Add</a>
        <div style="margin: 10px auto; padding: 10px 20px; border: 2px solid skyblue;">
            <p>Questions: {{ q.question_text }}</p>

            {% with ans=q.answers.all %}
                {% for answer in ans %}
                    <p>answers: {{answer}} </p>
               
            <div>
               
                 <a href="{% url 'answer_content_update' q.quiz.id answer.id q.id %}" style="background-color: blue; border:none; padding: 10px 15px; color: white;">Edit</a>
                 <a  style="background-color: red; border:none; padding: 10px 15px; color: white;">Delete</a> 
             </div>
                {% empty %}
                    <a href="{% url 'answer_content_create' q.quiz.id q.id %}" style="background-color: green; border:none; padding: 10px 15px; color: white;">Add</a>
                
                {% endfor  %}
            {% endwith %}
            <p>Score: {{ q.score }}</p>
           
        </div>
    </div> {% endcomment %}

    {% comment %} {% endfor %} {% endcomment %}
{% endblock %}