{% extends 'base2.html' %}

{% block title %}
  {% if object %}
    Edit "{{object.questions.quiz.title }}"
  {% else %}
    Create a new Quiz
  {% endif %}
{% endblock %}

{% block content %}
<div id="content" class="content">
  <h1>
    {% if object %} Edit course "{{ object.questions.question_text }}" {% else %} Add new Quiz {% endif %}
  </h1>
  <div class="module">
    <h2>Quiz info</h2>
        <form method="post" class='auto__gen__form'>
          {{ form.as_div }} {% csrf_token %}
          <p><input type="submit" class="big-btn" value="Save Quiz" /></p>
        </form>
      </div>
    </div>
{% endblock %}


