{% extends "base2.html" %}
{% load static %}
{% block title %} Manage Quizzes {% endblock %}


{% block content %}

    <div id="content" class="content">
      <div class="top">
        <h1>My Quizzes</h1>

        <a href="{% url "quiz_create" %}" class="big-btn">Create new Quiz</a>
      </div>
      <div class="module">
        {% if object_list %}
          <div class="modules">
            {% for quiz in object_list %}
            <div class="course-info">
                {% comment %} <img src="{{ quiz.image.url }}" alt="" /> {% endcomment %}
                <div class="details">
                <h3>{{ quiz.title }}</h3>
                <p>
                    <a href="{% url "quiz_edit" quiz.id %}">Edit</a>
                    <a href="{% url "quiz_delete" quiz.id %}">Delete</a>
                    <a href="{% url "quiz_question_update" quiz.id %}">Edit answers</a>
                   
                  {% if quiz.course.modules.count > 0 %}
                      <a href="{% url "quiz_answer_list" quiz.id %}"> Manage answers</a>
                  {% endif %}
                </p>
                </div>
            </div>
            {% endfor %}

        </div>

        {% else %}
        <!-- nocontent HTML -->
        <!-- nocontent HTML -->
        <!-- nocontent HTML -->

        <div class="empty">
          <img src="{% static 'assets/floating.svg' %}" alt="" />
          <h4>You haven't created any quiz yet.</h4>
        </div>
    {% endif %}
      </div>

    </div>

{% endblock %}

{% block include_js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}