{% extends 'base_without_footer.html' %}
{% load static %}

{% block title %} Results {% endblock %}

{% block content %} 
    {% comment %} <div class="crumbs">
      <h3>
        <a href="index.html">Home</a> > <a href="learning.html"> Learning</a> >
        <a href="course.html"> Course 1</a> > <a href="quiz.html">Quiz 1</a> >
        <a href="quizresultspage.html">Results</a>
      </h3>
    </div> {% endcomment %}

    <section class="results">
      <h3>Course: {{ quiz.course.title }} - Quiz: {{ quiz.title }}</h3>
      <p class="total-questions">Total Questions: {{quiz.questions.count}}</p>

      <div class="result-numb">
        <p class="result">
          Congratulations, you scored <span>3</span> out of 3 questions. You're
          amazing
        </p>
      </div>

      <div class="course-nav">
        <a href="/">Home</a>
        <a href="{% url 'student_course_detail' quiz.course.id %}">Continue</a>
      </div>
    </section>

    <section class="more-info">
      <h2>More information on your quiz...</h2>

      <div class="answers">
        <div class="q-a correct">
          <p class="q">Whats my name?</p>
          <p class="a">Ronald</p>
        </div>

        <div class="q-a correct">
          <p class="q">Lorem ipsum dolor sit amet consectetur adipisi?</p>
          <p class="a">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi
            expedita ullam voluptatibus voluptate ad voluptatem, est recusandae.
            Cum, distinctio.
          </p>
        </div>

        <div class="q-a correct">
          <p class="q">Whats my name?</p>
          <p class="a">Ronald</p>
        </div>

        <div class="q-a correct">
          <p class="q">Lorem ipsum dolor sit amet consectetur adipisi?</p>
          <p class="a">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi
            expedita ullam voluptatibus voluptate ad voluptatem, est recusandae.
            Cum, distinctio.
          </p>
        </div>

        <div class="q-a correct">
          <p class="q">Lorem ipsum dolor sit amet consectetur adipisi?</p>
          <p class="a">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi
            expedita ullam voluptatibus voluptate ad voluptatem, est recusandae.
            Cum, distinctio.
          </p>
        </div>


        <div class="q-a wrong">
          <p class="q">Whats my name?</p>
          <p class="a">Ronald</p>
        </div>

        <div class="q-a correct">
          <p class="q">Lorem ipsum dolor sit amet consectetur adipisi?</p>
          <p class="a">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At sequi
            expedita ullam voluptatibus voluptate ad voluptatem, est recusandae.
            Cum, distinctio.
          </p>
        </div>
      </div>
    </section>
{% endblock %}

{% block include_js %}

    
      <script>
          const token = "{{ csrf_token }}";
    </script>

        <!-- Toggle navbar js -->
         <script src="{% static 'js/result.js' %}"></script>


        <!-- Toggle navbar js -->
    <script>
      let navLinks = document.getElementById("navLinks");

      function showMenu() {
        navLinks.style.right = "0";
      }

      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
{% endblock %}
 
