{% extends "base2.html" %}
{% block title %} Login {% endblock %}
{% block content %}
    <form method="post" class="login-form">
      {% csrf_token %}
      <div class="input-field">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="email"
          required
        />
      </div>

      <div class="input-field">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
          required
        />
      </div>

      <input type="submit" value="login" class="submit" />
    </form>
    <div class="sign-up-container">
      <p>Don't have an account?? <a href="{% url 'user_registration' %}">signup</a></p>
    </div>
    
    <div class="google-auth">
      <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
    </div>
    {% endblock %}
