{% extends 'base2.html' %}
{% load static %}

{% block title %} {{ object.title }} {% endblock %}

{% block content %}

    <!-- COURSE BANNER -->
    <section class="banner">
      <div class="banner-left">
        {% comment %} <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4> {% endcomment %}

        <h1>{{ object.title }}</h1>

        <p>
          {{ object.overview }}
        </p>

        <p>Created by: <a href="#">{{ object.owner.get_full_name }}</a></p>

        <p>Last Updated: {{ object.updated }}, 💬 English</p>
        <p class="rating">Ratings: {{course.average_rating }} <span class="fa fa-star checked"></span> </p>
      </div>

      <div class="banner-right">
        <img src="{{ object.image.url }}" alt="" />

        <h2 class="price">GH:{{object.price}}</h2>

        <form action="{% url 'cart:cart_add' object.id %}" method="post">
          {% csrf_token %}
          <button type="submit">Add To Cart</button>

        </form>


        <h4>Course Includes:</h4>

        <p>
          📚 {{ object.modules.count }} Module{{ object.modules.count | pluralize }} <br />
          🎓 Certficate after Completion
        </p>
      </div>
    </section>

    <!-- COURSE DESCRIPTIOM -->
    <section class="course-description">
        {% if object.course_description %}
        <h2>Course Description</h2>

          <p>
            {{ object.course_description }}
          </p>
        {% else %}
          <h2>No course description </h2>
        {% endif %}
      </section>

    <!-- What youll learn -->
     {% if object.modules %}
      <section class="learn">
        <h1>What You'll Learn</h1>
        <ul>
          {% with m=object.modules.all %}
            {% for module in m %}
            <li>{{ module.title }}</li>
            {% endfor %}
          {% endwith %}
        </ul>
      </section>
      {% endif %}

    <!-- COURSE CONTENT -->
    <section class="course-content">
      <h1>Contents of This Course</h1>

      {% with m=object.modules.all %}

        {% for module in m %}

          <button class="accordion-btn">
            <h3>{{ module.title }}</h3>
            <span>🔽</span>
          </button>
          <div class="panel">
           {{ module.description }}
          </div>
        {% endfor %}
      {% endwith %}
    </section>

    <section class="instructor-profile">
      <div class="top">
        <h2><a href="">{{ object.owner.get_full_name }}</a></h2>
        <h4>Professor at <a href="#"> {{ object.owner.instructor_profile.institution }}</a></h4>
      </div>

      <div class="middle">
        <img src="{{ object.owner.photo.url }}" alt="Profile of {{ object.owner.get_full_name }}" />
        <div class="stats">
          <p><span>📚</span> {{object.courses_created_by_instructor }} course{{object.courses_created_by_instructor | pluralize}}</p>
          <p><span>🎓</span> {{object.owner.get_total_number_of_enrolled_student}} Enrollments</p>
          <p><span>🕔</span> Instructor for {{ object.owner.instructor_profile.years_of_experience }} month</p>
        </div>
      </div>

      <p class="about">
        {{ object.owner.instructor_profile.biography }}
      </p>
    </section>

    {% if recommended_courses %}
      <section class="similar-courses discover">
        <h1>Recommended Courses</h1>

        
        <div class="field-content">
          {% if recommended_courses %}
            {% for course in recommended_courses %}
            <a href="{% url 'course_detail' course.slug %}" class="course">
            <div class="course">
              <img src="{{ course.image.url }}" alt="Image of {{ course.image.url }}" />
              <div class="info">
                <div class="info-top">
                  <p>{{ course.owner.get_full_name }}</p>
                  <p>{{ course.modules.count }} Module{{ course.modules.count | pluralize }}</p>
                </div>
                <p class="info-bottom">{{ course.title }}</p>
                <div class="middle">Ratings: {{course.average_rating }} <span class="fa fa-star checked"></span> </div>
              </div>
            </div>
            </a>
            {% endfor %}

          {% endif %}
        </div>
      </section>

      <div class="cart-footer" id="cart-footer">
        <h3 id="buy-text">Buy course now!</h3>
        <form action="{% url 'cart:cart_add' object.id %}" method='post'>
          {% csrf_token %}
          <button id="add-to-cart" type="submit">Add to Cart</button>
        </form>
      </div>
      {% comment %} {% else %}
      <p>There are no courses to recommend yet</p> {% endcomment %}
    {% endif %}


{% endblock %}

{% block include_js %}
  <!-- Accordion -->
    <script>
      let acc = document.getElementsByClassName("accordion-btn");
      let i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");

          let panel = this.nextElementSibling;

          if (this.classList.contains("active")) {
            this.querySelector("span").textContent = "🔼";
          } else {
            this.querySelector("span").textContent = "🔽";
          }

          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
            panel.style.border = "none";
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
            panel.style.border = "2px solid black";
            panel.style.borderTop = "none";
          }
        });
      }
    </script>

    <!-- Toggle nav js -->
    <script>
      let navLinks = document.getElementById("navLinks");

      function showMenu() {
        navLinks.style.right = "0";
      }

      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>

    <!-- Show buy bar view -->
    <script>
      window.onscroll = function () {
        // Get the bar element
        const bar = document.getElementById("cart-footer");

        // Show the bar when scrolling down 200 pixels
        if (
          document.body.scrollTop > 600 ||
          document.documentElement.scrollTop > 600
        ) {
          bar.style.display = "flex";
        } else {
          bar.style.display = "none";
        }

        // bar.addEventListener("click", scrollToTop);
      };
    </script>

    <!-- TOggle Buy button -->
    <script>
      const addToCart = document.getElementById("add-to-cart");
      const buyText = document.getElementById("buy-text");

      addToCart.addEventListener("click", function () {
        if (
          buyText.textContent === "Buy Course Now!" &&
          addToCart.textContent === "Add to Cart"
        ) {
          buyText.textContent = "Added to Cart";
          addToCart.textContent = "Remove from Cart";
        } else {
          buyText.textContent = "Buy Course Now!";
          addToCart.textContent = "Add to Cart";
        }
      });
    </script>
{% endblock %}