{% extends 'base2.html' %}
{% load course %}
{% load static %}

{% block title %} 
    {% if subject %}
        {{ subject.title }} courses

    {% else %}
        All courses 
    {% endif %}
{% endblock %}


{% block content %}

 <section class="hero-section">
      <div class="hero-container">
        <button class="slide-btn slide-btn-1">&larr;</button>

        <div class="banner-carousel">
          <div class="banner">
            <img src="{% static 'assets/banner.png' %}"  alt="Class Learning" class="" />
            <h1>
              Best Online Platform <br />
              for Learning 1
            </h1>
          </div>

          <div class="banner">
            <img src="{% static 'assets/banner.png' %}" alt="Class Learning" class="" />
            <h1>
              Best Online Platform <br />
              for Learning 2
            </h1>
          </div>

          <div class="banner">
            <img src="{% static 'assets/banner.png' %}" alt="Class Learning" class="" />
            <h1>
              Best Online Platform <br />
              for Learning 3
            </h1>
          </div>
        </div>

        <button class="slide-btn slide-btn-2">&rarr;</button>
      </div>

      <h3>Trusted By Millions of Learners</h3>
    </section>


  <section class="discover">
    <h1>Discover Amazing Courses</h1>
    <ul class="fields">
      <li {% if not subject %} class="field-item active" {% else %} class="field-item active"  {% endif %}>All</li>

      {% for s in subjects %}
        
      <li class="field-item">{{ s.title }}</li>
        
      {% endfor %}
      {% comment %} <li class="field-item">Programming</li>
      <li class="field-item">Science</li>
      <li class="field-item">Math</li>
      <li class="field-item">History</li>
      <li class="field-item">Language</li>
      <li class="field-item">Engineering</li> {% endcomment %}
    </ul>
    
    <div class="field-content">

      {% for course in courses %}
        {% with subject=course.subject %}

          <a href="{% url 'course_detail' course.slug %}" class="course all  {{ course.subject|lower }}">
              <img src="{{ course.image.url }}" alt="">
                    <div class="info">
                    <div class="info-top">
                        <p>{{ course.total_modules }} modules</p>
                        <p> Instructor: {{ course.owner.get_full_name }}</p>
                    </div>
                    <div class="middle">
                      {% comment %} {% with num_rating=course.average_rating %} {% endcomment %}
                        {% comment %} {% for number in num_rating|range %} {% endcomment %}
                          Ratings: {{course.average_rating }} <span class="fa fa-star checked"></span> 
                        {% comment %} {% endfor %} {% endcomment %}
                      {% comment %} {% endwith %} {% endcomment %}
                    </div>
                    <p class="info-bottom">
                        {{ course.title }}
                    </p>
            </div>
          </a>
          {% endwith %}
        {% endfor %}
    </div>
  </section>

  {% if recently_added %}
      <section class="discover">
      <h1>Recently Added</h1>
      
      <div class="field-content">
      {% for r in recently_added %}

        <a href="{% url 'course_detail' r.slug %}" class="course all language">
          <img src="{{ r.image.url }}" alt="{{ r.title }}" />
          <div class="info">
            <div class="info-top">
              <p>{{ r.owner.get_full_name }}</p>
              <p>{{ r.modules.count }}</p>
            </div>
             <div class="middle"> Ratings: {{r.average_rating }} <span class="fa fa-star checked"></span> </div>
            <p class="info-bottom">{{ r.title }}</p>
          </div>
        </a>

        {% endfor %}
      </div>
    </section>
    {% endif %}

    {% if popular_courses %}
    <section class="discover">
        <h1>Popular Courses </h1>

        <div class="field-content">
      {% for pop in popular_courses %}

          <a href="{% url 'course_detail' pop.slug %}" class="course all language">
            <img src="{{ pop.image.url }}" alt="Image of {{ pop.title }}" />
            <div class="info">
              <div class="info-top">
                <p>{{ pop.owner.get_full_name }}</p>
                <p>{{ pop.modules.count }}</p>
              </div>
               <div class="middle"> Ratings: {{pop.average_rating }} <span class="fa fa-star checked"></span> </div>
              <p class="info-bottom">{{ pop.title }}</p>
            </div>
          </a>

          {% endfor %}
        </div>

      </section>
    {% endif %}


    <section class="discover">
      <h1>Highly Rated</h1>

      <div class="field-content">
      {% for rating in highly_rated %}
        <a href="{% url 'course_detail' rating.slug %}" class="course all language">
          <img src="{{ rating.image.url }}" alt="" />
          <div class="info">
            <div class="info-top">
              <p>{{ rating.modules.count }}</p>
              <p>{{ rating.owner.get_full_name }}</p>
            </div>
            <div class="middle">
            Ratings: {{rating.average_rating }} <span class="fa fa-star checked"></span>
            </div>
            <p class="info-bottom">{{ rating.title }}</p>
          </div>
        </a>

        {% endfor %}

      </div>
    </section>
  
  
  {% endblock %}

  {% block include_js %}
  <!-- swap tabs -->
    <script>
      const tabs = document.querySelectorAll(".field-item");
      const tabContainer = document.querySelector(".field-content");
      const courses = tabContainer.getElementsByTagName("a");

      const populateField = (e) => {
        // Remove 'active' class from all tabs
        tabs.forEach((tab) => tab.classList.remove("active"));

        // Add 'active' class to the clicked tab
        e.classList.add("active");

        // Get the tab name in lowercase
        const tabName = e.textContent.toLowerCase();

        // Show or hide the courses based on the tab name
        Array.from(courses).forEach((course) => {
          if (course.classList.contains(tabName)) {
            course.classList.remove("hidden"); // Show the matching course
          } else {
            course.classList.add("hidden"); // Hide non-matching courses
          }
        });
      };

      tabs.forEach((tab) => {
        tab.addEventListener("click", () => populateField(tab));
      });
    </script>

    <script>
      const slideCarousel = (
        prevButton,
        nextButton,
        carouselContent,
        carouselItems
      ) => {
        document.addEventListener("DOMContentLoaded", function () {
          let currentIndex = 0;

          function updateCarousel() {
            const width = carouselItems[0].clientWidth;
            const offset = -currentIndex * width;

            for (let i = 0; i < carouselItems.length; i++) {
              carouselItems[i].style.transform = "translateX(" + offset + "px)";
            }
          }

          prevButton.addEventListener("click", function () {
            if (currentIndex > 0) {
              currentIndex--;
            } else {
              currentIndex = carouselItems.length - 1; // Go to the last item
            }
            updateCarousel();
          });

          nextButton.addEventListener("click", function () {
            if (currentIndex < carouselItems.length - 1) {
              currentIndex++;
            } else {
              currentIndex = 0; // Go back to the first item
            }
            updateCarousel();
          });
        });
      };

      // trends
      slideCarousel(
        document.querySelector(".slide-btn-1"),
        document.querySelector(".slide-btn-2"),
        document.querySelector(".banner-carousel"),
        document.querySelectorAll(".banner")
      );
    </script>



    <script>

      // Toggle navbar js 

  let navLinks = document.getElementById("navLinks");

  function showMenu() {
    navLinks.style.right = "0";
  }

  function hideMenu() {
    navLinks.style.right = "-200px";
  }



  
//  toggle search bar

  const searchButton = document.getElementById('search-input');
  const searchResults = document.querySelector('.search-results');

  searchButton.onfocus = () => {
    searchResults.classList.toggle("hidden")
  }

  searchButton.onblur = () => {
    searchResults.classList.toggle("hidden")
  }

  // mobile version
const mobileSearchButton = document.querySelector('.m-search-icon');
const mobileSearchBar = document.querySelector('.m-searchbar');

mobileSearchButton.addEventListener('click', () => {
  mobileSearchBar.classList.toggle("hidden")
})

    </script>



  {% endblock %}