{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Coursity{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Coursity</a>
      <ul class="menu">
        {% if request.user.is_authenticated %}
          <li>
            <form action="{% url 'logout' %}" method="post">
              <input type="submit" value="sign out">

           {% csrf_token %}
            </form>
          </li>
        {% else %}
          <li><a href="{% url "login" %}">Sign in</a></li>
        {% endif %}

        {% with total_items=cart|length %}
        {% if total_items > 0 %}
         <h2>{{ total_items }} </h2>
        Your cart:
        <a href="{% url 'cart:cart_detail' %}">
          {{ total_items }} course {{ total_items|pluralize }}, GH {{ cart.get_total_price }}
        </a>
        {% elif not order %}
          Your cart is empty
        {% endif %}
        {% endwith %}
      </ul>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    {% block include_js %}
    {% endblock %}
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        // DOM loaded
        {% block domready %}
        {% endblock %}
      })
    </script>
  </body>
</html>
