{% extends 'register_base.html' %}
{% load static %}
{% block title %} Forgot Password {% endblock %}

{% block content %}
    <section class="forgot-password">
      <img class="app-logo" src="{% static 'icons/coursitylogo.png' %}" alt="Coursity logo" />

      <h1>Forgot Password?</h1>

      <p class="">
        Enter Your Email to recieve a link to <br />
        reset your password
      </p>

      <form method="post">
        {% csrf_token %}
        <input class="info" type="email" placeholder="Email" name="email" required/>

         {% comment %} <a href="#" class="submit-link"
        > {% endcomment %}
        <button class="btn show-modal submit" type='submit'>Submit</button>
        {% comment %} </a> {% endcomment %}
      </form>

     
      <p>Don't have an account? <a href="{% url 'user_registration' %}">Sign Up</a></p>
    </section>

{% endblock %}