{% extends 'register_base.html' %}
{% load static %}
{% block title %} Reset Confirm {% endblock %}

{% block content %}
    {% if messages %}

    {% for message in messages %}
      <div class="alert {{ message.tags }}">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    {% if validlink %}
	  
          <section class="forgot-password">
          <img class="app-logo" src="/Icons/coursitylogo.png" alt="" />

          <h1>Create New Password</h1>

          <p class="">
            Enter A Unique Password only you know
          </p>

          <form  method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <input class="info" type="password" placeholder="New Password" name="new_password1"/>
            <input class="info" type="password" placeholder="Confirm Password" name="new_password2"/>

            {% comment %} <a href="passwordreset.html" class="submit-link link-btn btn">Done</a> {% endcomment %}
            <input type="submit" value="Done">
          </form>


        <p>Don't have an account? <a href="{% url 'user_registration' %}">Sign Up</a></p>
      </section>

  {% else %}
      <div class="failed-verification-msg">
    <p >The password reset link was invalid, possibly because it has already been used. Please request a new passowrd reset</p>
      </div>
  
  {% endif %}
</div>

{% endblock %}