{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Confirm</title>
  </head>
  <body>
    <h2 class="logo">ACoursesity</h2>

    <div class="center">
	<form method="post" class="card">
	  {% csrf_token %}
	  <h2 class="password-reset-title">Password Reset Confirm</h2>

    {% if messages %}

      {% for message in messages %}
      <div class="alert {{ message.tags }}">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
      {{ message }}
    </div>
    {% endfor %}


    {% endif %}

    {% if validlink %}
	  
	  <form method="post" enctype="application/x-www-form-urlencoded">
     {% csrf_token %}
     
      <label for="password">New Password</label>
      <input type="password" name="new_password1" id="password" placeholder="password" required />
      <br />

      <label for="password">New Password Confirm</label>
      <input type="password" name="new_password2" id="password" placeholder="password" required />
      <br />

      <input type="submit" value="Reset Password" />
    </form>

	</form>

  {% else %}
  <div class="failed-verification-msg">
 <p >The password reset link was invalid, possibly because it has already been used. Please request a new passowrd reset</p>
  </div>
   

    {% endif %}
</div>
  </body>
</html>
