{% extends 'register_base.html' %}
{% load static %}
{% block title %} Password Reset Complete {% endblock %}
{% block content %}
  
    <div class="forgot-password">
      <h1>Your Password Has Been Reset</h1>

      <p></p>

      <a href="{% url 'login' %}" class="submit-link"
        ><button class="btn show-modal submit">Log In</button></a
      >

      <p>Don't have an account? <a href="{% url 'user_registration' %}">Sign Up</a></p>
    </div>

{% endblock %}

{% comment %} <!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Complete</title>
  </head>
  <body>
    <div class="container">
<h2 class="logo">Coursesity</h2>

    <h2 class="password-reset-confirm">Reset Password Done</h2>
    <p class="psw-reset-complete">Your password has been set. You may go ahead and log in now.</p>
    <span><a href="{% url 'login' %}" class="prc-btn">Login</a></span>
    </div>
    
  </body>
</html> {% endcomment %}
