{% extends 'register_base.html' %}
{% load static %}
{% block title %} Reset Done {% endblock %}

{% block content %}
    <section class="forgot-password link-sent-section">
      <img class="app-logo" src="{% static 'icons/coursitylogo.png' %}" alt="coursity-logo" />

      <h1>A link has been sent to your Email</h1>

      <p></p>

      <div class="check-forgot-password">
        <div class="left">No mail recieved?</div>
        <div class="right">
          <a href="{% url 'password_reset' %}">Enter mail again</a>
        </div>
      </div>

      <a href="{% url 'login' %}" class="submit-link"
        ><button class="btn show-modal submit">Back to Log In Page</button></a
      >

      <p>Don't have an account? <a href="{% url 'user_registration' %}">Sign Up</a></p>
    </section>

{% endblock %}

