{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <h2 class="logo">Coursesity</h2>

    <h2 class="password-reset">Reset Password</h2>

    <form method="post" enctype="application/x-www-form-urlencoded">
      {% csrf_token %}
      <label for="email">Email</label>
      <br />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email to receive a reset form"
        required
      />
      <br />

      <input type="submit" value="Reset Password" />
    </form>
  </body>
</html>
